name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build APK
      uses: kivy/buildozer-action@master
      with:
        requirements: python3,kivy
        target: android debug
